{% extends 'irs/base.html' %}

{% load humanize %}

{% block title %}
{{ object.name }} | IRS Itemizer
{% endblock %}

{% block content %}
	<h4><a href="{% url 'filings' %}">Back to filings</a></h4>
	<h2>{{ object.name }}</h2>
	<hr>
	<table class="table">
	<thead>
		<tr>
			<th style="width: 10%">Filing</th>
			<th style="width: 10%">Amended by</th>
			<th style="width: 20%">Begin date</th>
			<th style="width: 20%">End date</th>
			<th style="width: 20%">Contributions</th>
			<th style="width: 20%">Expenditures</th>
		</tr>
	</thead>
	<tbody>
		{% for filing in object.filings.all %}
		<tr>
			<td>{{ filing.form_id_number }}</td>
			<td>
			{% if filing.is_amended %}
				{{ filing.amended_by.form_id_number }}
			{% endif %}
			</td>
			<td>{{ filing.begin_date }}</td>
			<td>{{ filing.end_date }}</td>
			<td>
				{% if filing.schedule_a_indicator == 0 %}
				<a href="{% url 'sa' filing.form_id_number %}">${{ filing.schedule_a_total | intcomma }}</a>
				{% endif %}
			</td>
			<td>
				{% if filing.schedule_b_indicator == 0 %}
				<a href="{% url 'sb' filing.form_id_number %}">${{ filing.schedule_b_total | intcomma }}</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>

	
{% endblock %}