{% extends 'irs/base.html' %}

{% load humanize %}
{% load bootstrap_pagination %}

{% block title %}
Filings | IRS Itemizer
{% endblock %}

{% block content %}
	<h2>IRS Itemizer</h2>
	<h3>{{ page_obj.paginator.count | intcomma }} filings</h3>
	{% bootstrap_paginate page_obj range=5 show_first_last='true' %}

	<table class="table">
	<thead>
		<tr>
			<th style="width: 5%">Type</th>
			<th style="width: 51%">Committee</th>
			<th style="width: 12%">Start</th>
			<th style="width: 12%">End</th>
			<th style="width: 10%">Contributions</th>
			<th style="width: 10%">Expenditures</th>
		</tr>
	</thead>
	<tbody>
		{% for filing in object_list %}
		<tr>
			<td>{{ filing.form_type }}</td>
			<td><a href="{% url 'committee' filing.EIN %}">{{ filing.organization_name }}</a></td>
			<td>{{ filing.begin_date }}</td>
			<td>{{ filing.end_date }}</td>
			<td>
				{% if filing.schedule_a_indicator == 0 %}
				<a href="{% url 'sa' filing.form_id_number %}">${{ filing.schedule_a_total | intcomma }}</a>
				{% endif %}
			</td>
			<td>
				{% if filing.schedule_b_indicator == 0 %}
				<a href="{% url 'sb' filing.form_id_number %}">${{ filing.schedule_b_total | intcomma }}</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>

	
{% endblock %}