{% extends 'irs/base.html' %}

{% load humanize %}

{% block title %}
Filing {{ filing_id }} | IRS Itemizer
{% endblock %}

{% block content %}
	<h4><a href="{% url 'filings' %}">Back to filings</a></h4>
	<h2>Filing {{ filing_id }} for <a href="{% url 'committee' EIN %}">{{ committee_name }}</a></h2>
	<h3>{{ object_list.count | intcomma }} contribution{{ object_list.count | pluralize }}</h3>
	<p><a href="{% url 'sa_csv' filing_id %}">Download contributions as CSV</a></p>
	<p><a href="{% url 'sb' filing_id %}">See expenditures</a></p>
	<table class="table">
	<thead>
		<tr>
			<th style="width: 3%"></th>
			<th style="width: 40%">Contributor name</th>
			<th style="width: 30%">Employer</th>
			<th style="width: 10%">Date</th>
			<th style="width: 10%">Amount</th>
		</tr>
	</thead>
	<tbody>
		{% for contribution in object_list %}
		<tr class="tableRow" id="{{ contribution.schedule_a_id }}">
			<td><a class="hash" href="#{{ contribution.schedule_a_id }}">#</a></td>
			<td>{{ contribution.contributor_name }}</td>
			<td>{{ contribution.contributor_employer }}</td>
			<td>{{ contribution.contribution_date }}</td>
			<td>${{ contribution.contribution_amount | intcomma }}</td>

		</tr>
		{% endfor %}
	</tbody>
	</table>

<script type="text/javascript">
$(window.location.hash).addClass('warning');
$('.hash').on('click', function() {
	$('.tableRow').removeClass('warning');
	$($(this).attr('href')).addClass('warning');
});
</script>
	
{% endblock %}