{% extends 'irs/base.html' %}

{% load humanize %}

{% block title %}
Filing {{ filing_id }} | IRS Itemizer
{% endblock %}

{% block content %}
	<h4><a href="{% url 'filings' %}">Back to filings</a></h4>
	<h2>Filing {{ filing_id }} for <a href="{% url 'committee' EIN %}">{{ committee_name }}</a></h2>
	<h3>{{ object_list.count | intcomma }} expenditure{{ object_list.count | pluralize }}</h3>
	<p><a href="{% url 'sb_csv' filing_id %}">Download expenditures as CSV</a></p>
	<p><a href="{% url 'sa' filing_id %}">See contributions</a></p>

	<table class="table">
	<thead>
		<tr>
			<th style="width: 3%"></th>
			<th style="width: 40%">Recipient name</th>
			<th style="width: 35%">Purpose</th>
			<th style="width: 10%">Date</th>
			<th style="width: 10%">Amount</th>
		</tr>
	</thead>
	<tbody>
		{% for expenditure in object_list %}
		<tr class="tableRow" id="{{ expenditure.schedule_b_id }}">
			<td><a class="hash" href="#{{ expenditure.schedule_b_id }}">#</a></td>
			<td>{{ expenditure.recipient_name }}</td>
			<td>{{ expenditure.expenditure_purpose }}</td>
			<td>{{ expenditure.expenditure_date }}</td>
			<td>${{ expenditure.expenditure_amount | intcomma }}</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>

<script type="text/javascript">
$(window.location.hash).addClass('warning');
$('.hash').on('click', function() {
	$('.tableRow').removeClass('warning');
	$($(this).attr('href')).addClass('warning');
});
</script>
	
{% endblock %}